body.kiosk {
	overflow:hidden;
	position:fixed;
	top:0;
	left:0;
	right:0;
	background-color:#efefef;
}

body, button, input {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.kiosk form {
	margin:0;
	height:100%;
}

.kiosk address {
	margin-bottom:0;
}

.kiosk .container {
	width:1056px;
}

.kiosk header,
#header {
	width:100%;
	height:384px;
	text-align:center;
}

.hidden {
	display:none;
}

#loader {
	text-align:center;
	width:100%;
	display:none;
	height:350px;
	vertical-align:middle;
}

#loader:after {
	/*content:'Loading...';*/
}

#reload-wrap {
	box-shadow:0px 2px 8px #666;
	min-height:350px;
	max-height:500px;
	background:#fff;
	margin-top:-150px;
	padding:25px 0;
	position:relative;
	height:350px;
}

#reload {
	height:100%;
	vertical-align:middle;
}

#content,
.content {
	width:100%;
	height:100%;
	vertical-align:middle;
	display:table;
	/*position:relative;*/
}

.content {
	display:none;
}

#company {
	margin:0 auto;
	min-width:200px;
	max-width:520px;
	max-height:110px;
	min-height:70px;
	color:#fff;
	padding:5px 10px 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	/*box-shadow: -2px -2px 2px #666;*/
	box-shadow:0 -1px 1px #666, inset 0 -1px 1px rgba(0,0,0,0.5);
}

h2#company-name {
	margin:0;
	color:#fff;
	text-transform: uppercase;
}

#powered-by {
	bottom:10px;
	right:10px;
	color:#aaa;
	height:28px;
	line-height:28px;
	position:fixed;
	text-align:center;
	font-size: 8px;
}

#NxtBtn {
	right:20px;
}

#BckBtn {
	left:20px;
}

#RstBtn {
	top:95%;
	padding:5px;
}

#BckBtn a {
	color:#777;
}

#RstBtn a {
	color:#fff;
}

input::-ms-clear {
	display:none;
}

.reset-btn {
	width:110px;
	height:55px;
	margin:0 auto;
	line-height:55px;
	font-size:1.5em;
	color:#fff;
	text-align:center;
	vertical-align:middle;
	font-weight:600;
	cursor:pointer;
}

#BckBtn,  #NxtBtn {
	top:65%;
	background:none;
}

#NxtBtn a, #BckBtn a {
	text-decoration:none;
}

#BckBtn,  #NxtBtn, #RstBtn {
	position:absolute;	
	font-size:0.75em;
	font-weight:700;
	/*width:75px;
	height:35px;*/
}

#NxtBtn img, #BckBtn img, #RstBtn img {
	vertical-align: middle;
	margin:0 5px;
}

.content-div {
	display:table-cell;
	vertical-align:middle;
	/*overflow:auto;*/
	width:49%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 5%;
	/*position:relative;*/
}

.hidden-content {
	display:none;
}

.question {
	/*text-align:left;*/
}

.answer {
	text-align:center;
	padding-right:10%;
}

#sp-entry-form {
	display:table;
}

.input-row {
	
}

.inline-input {
	width:360px;
	position:relative;
	margin:0 auto;
	height:50px;
	margin-bottom:20px;
}

.input-wrap {
	position: relative;
	width:310px;
	margin:5px auto;
}

.input-row input.half {
	width:144px;
	display:inline-block;
}

.input-row input.half:first-child {
	margin-right:8px;
}

.input-row input.third {
	width:92px;
	margin-right:8px;
}

.input-row input.third:last-child {
	margin-right:0;
}

.input-row input.full {
	width:300px;
}

.bubble 
{
	position: absolute;
	right:0px;
	top:49px;
	width: 300px;
	height: 40px;
	padding: 0px;
	color:#fff;
	line-height:40px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	/*border:1px solid #0274BA;*/
	font-size:0.85714em;
}

/* Arrow */

.bubble:after 
{
	content: "";
	position: absolute;
	top: -7px;
	left: 274px;
	border-style: solid;
	border-width: 0 6px 7px;
	display: block;
	width: 0;
	z-index: 1;
}

/*select,*/
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input
{
	height: 50px;
	width: 300px;
	text-align:center;
	padding:0 !important;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

.kiosk textarea:focus,
.kiosk input[type="text"]:focus,
.kiosk input[type="password"]:focus,
.kiosk input[type="datetime"]:focus,
.kiosk input[type="datetime-local"]:focus,
.kiosk input[type="date"]:focus,
.kiosk input[type="month"]:focus,
.kiosk input[type="time"]:focus,
.kiosk input[type="week"]:focus,
.kiosk input[type="number"]:focus,
.kiosk input[type="email"]:focus,
.kiosk input[type="url"]:focus,
.kiosk input[type="search"]:focus,
.kiosk input[type="tel"]:focus,
.kiosk input[type="color"]:focus,
.kiosk .uneditable-input:focus { 
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.4);
	   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.4);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.4);
}

.q-head {
	text-transform:uppercase;
	font-size:2.25em;
	font-weight:800;
}

.q-body {
	font-weight:normal;
	font-size:1.3em;
}

.kiosk-hr {
	width:300px;
	text-align:center;
	margin:20px auto 14px;
	height:1px;
	background-color:#ccc;
}

.icon {
	height:50px;
	width:50px;
	display:inline-block;
	vertical-align:top;
	cursor:pointer;
}

.icon-btn {
	height:50px;
	width:50px;
	display:inline-block;
	cursor:pointer;
	margin-left:5px;
}

#buzz-table {
	width:100%;
}

#buzz-table .icon-btn {
	height:75px;
	width:75px;
}

#buzz-table .icon-btn.selected {
	background-color:#eb8a01;

}

#NxtBtn.inactive,
#BckBtn.inactive {
	opacity:0.65;
}

.buttons-row {
	height:50px;
	width:300px;
	text-align:center;
	margin:0 auto;
}

.buttons-row span {
	display:inline-block;
	height:50px;
	line-height:50px;
	vertical-align:bottom;
	float:left;
	font-size:0.85714em;
	color:#999;
}

.buttons-row .buttons {
	float:right;
}

.checkmark {
	background:url(../img/check_icon.png) no-repeat center;
	background-color:#676767;
	display:inline-block;
}

.x-icon {
	background:url(../img/x_icon.png) no-repeat center;
	background-color:#676767;
	display:inline-block;
}

.add-one {
	background:url(../img/add_icon.png) no-repeat center;
	background-color:#666;
	display:inline-block;
}

.phone-icon {
	background:url(../img/phone_icon.png) no-repeat center;
	background-color:transparent;
	display:inline-block;
}

.email-icon {
	background:url(../img/email_icon.png) no-repeat center;
	background-color:transparent;
	display:inline-block;
}

.directmail-icon {
	background:url(../img/mail_icon_dark.png) no-repeat center;
	background-color:transparent;
	display:inline-block;	
}

.tv-icon {
	background:url(../img/tv_icon_dark.png) no-repeat center;
	background-color:transparent;
	display:inline-block;
}

.news-icon {
	background:url(../img/news_icon_dark.png) no-repeat center;
	background-color:transparent;
	display:inline-block;
}

.radio-icon {
	background:url(../img/radio_icon_dark.png) no-repeat center;
	background-color:transparent;
	display:inline-block;
}

.billboard-icon {
	background:url(../img/billboard_icon_dark.png) no-repeat center;
	background-color:transparent;
	display:inline-block;
}

.internet-icon {
	background:url(../img/internet_icon_dark.png) no-repeat center;
	background-color:transparent;
	display:inline-block;
}
/*
.checkmark.selected,
.checkmark.action,
.checkmark:active {
	background:url(../img/_icon_white.png) no-repeat center;
}*/
/*
.x-icon.selected,
.x-icon.action,
.x-icon:active {
	background:url(../img/_icon_white.png) no-repeat center;
}*/
/*
.add-one.selected,
.add-one.action,
.add-one:active {
	background:url(../img/_icon_white.png) no-repeat center;
}*/

.phone-icon.selected,
.phone-icon.action,
.phone-icon:active {
	/*background:url(../img/phone_icon_white.png) no-repeat center;*/
}

.directmail-icon.selected,
.directmail-icon.action,
.directmail-icon:active {
	background:url(../img/mail_icon_white.png) no-repeat center;
}

.tv-icon.selected,
.tv-icon.action,
.tv-icon:active {
	background:url(../img/tv_icon_white.png) no-repeat center;
}

.news-icon.selected,
.news-icon.action,
.news-icon:active {
	background:url(../img/news_icon_white.png) no-repeat center;
}

.radio-icon.selected,
.radio-icon.action,
.radio-icon:active {
	background:url(../img/radio_icon_white.png) no-repeat center;
}

.billboard-icon.selected,
.billboard-icon.action,
.billboard-icon:active {
	background:url(../img/billboard_icon_white.png) no-repeat center;
}

.internet-icon.selected,
.internet-icon.action,
.internet-icon:active {
	background:url(../img/internet_icon_white.png) no-repeat center;
}


.add-one.inactive {
	background-color:#676767;
}

#review-table tbody th {
	text-align:right;
	padding-right:5px;
}

#review-table tbody td {
	text-align:left;
	padding-left:5px;
}

span.result-msg {

}

.result-msg.success {
	color:green;
}

.skip-btn,
.disclaimer,
.no-pin-btn {
	position:absolute;
	bottom:10px;
	right:10px;
	height:50px;
}

.skip-btn,
.no-pin-btn {
	line-height:50px;
	color:#fff;
	padding:0 10px;
	background-color:#676767;
	cursor:pointer;
}

.disclaimer {
	font-style:italic;
	font-size:0.8em;
	text-align:right;
}

.green {
	color:#a6a653;
}

.choose-one .icon {
	background-color:#676767;
	color:#fff;
	font-weight:bold;
}

.icon span {
	height:50px;
	line-height:50px;
}

.icon.action,
.icon:hover {
	background-color:#ddd;
}

.inline-input .icon {
	cursor:default;
}

.inline-input .icon:hover {
	background-color:transparent;
}

#trade-value {
	margin-top:20px;
}

.values-combined {

}

#nada,
.final-value {
	display:inline-block;
	font-size:0.75em;
	float:left;
	height:50px;
}

#nada span, 
.final-value .circled {
	font-size:2em;
	font-weight:bold;
}

#trade-bonus {
	display:inline-block;
	font-size:0.75em;
	float:right;
	height:50px;
}

#trade-bonus span {
	font-size:2em;
	font-weight:bold;
	color:#a6a653;
}

.final-value {
	float:none !important;
	text-align:center;
}

div.circled {
	/*background:url(../img/green-circle.gif) no-repeat;*/
	/*display:inline-block;*/
	margin-top:-46px;
}

.green-plus {
	font-size:2.5em;
	color:#a6a653;
	height:50px;
	line-height:50px;
}

#buzz-table td {
	height:100px;
	width:100px;
}

#buzz-table td span {

}

#buzz-table .icon-btn {
	background-color:#eee;
}

.kiosk .selectboxit.half {
	width:145px;
	display:inline-block;
}

.kiosk .selectboxit.half:last-child {
	width:145px;
	display:inline-block;
	float:right;
}


#pin-error {
	position:absolute;
	bottom:10%;
	right:50%;
}

#error {
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
}

/* VALIDATION STYLES */
.validator {
	vertical-align:middle;
}

.validator.unvalidated {
	background:url(../img/question.png) 95% 50% no-repeat !important;
}

.selectboxit.kiosk-select.unvalidated {
	background:url(../img/question.png) 88% 50% no-repeat !important;	
}

.validator.valid {
	background:url(../img/valid.png) 95% 50% no-repeat !important;
	/*border:1px solid green;*/
}
/*
input:valid,
input:focus:valid,
select:valid,
select:focus:valid {
	background:inherit;
}*/

.selectboxit.kiosk-select {
	/*border:1px solid #ccc;*/
	background:url(../img/valid.png) 88% 50% no-repeat !important;
}

.validator.invalid
/*input:invalid,
input:focus:invalid,
select:invalid,
select:focus:invalid*/
/*.selectboxit.invalid*/ {
	background:url(../img/invalid.png) 95% 50% no-repeat !important;
	border:1px solid red;
}

/*.validator.unvalidated:after,
.validator.valid:after,
.validator.invalid:after,*/
.validator-icon {
	height:28px;
	width:28px;
	display:inline-block;
	/*line-height:28px;*/
	text-align:center;
	/*content:"";*/
	background:url(../img/question.png);
}

span.invalid {
	color:red;
}

/*.validator.unvalidated:after {
	content:url(../img/question.png);
}

.validator.valid:after {
	content:url(../img/valid.png);
}

.validator.invalid:after {
	content:url(../img/invalid.png);
}*/