body.prototype {
	overflow:hidden;
	position:fixed;
	height:100%;
	width:100%;
	bottom:0;
	left:0;
	right:0;
}

header,
#header {
	width:100%;
	min-height:200px;
	max-height:25%;
}

.hidden {
	display:none;
}

#logo {
	position:absolute;
	top:20px;
	left:20px;
	z-index:-90;
}

#promo-title {
	min-height:200px;
	max-height:220px;
	text-align:center;
}

#bg-img {
	width:100%;
	height:100%;
	/*top:0;*/
	left:0;
	right:0;
	bottom:0;
	position:fixed;
	z-index:-100;
}

#content {
	min-height:260px;
	max-height:500px;
	margin-top:30px;
}

.content {
	width:100%;
	#position:relative;
	display:table;
	/*overflow:hidden;*/
	min-height:200px;
	max-height:220px;
}

.content-inner {
	background:rgba(0,0,0,0.65);
	color:#fff;
	height:100%;
	text-align:center;
	#position:absolute;
	#top:50%;
	display:table-cell;
	vertical-align:middle;
	padding:10px 30px;
}

header .content-inner {
	background:none;
	color:#222;
}

.question {
	width:48%;
	text-align:left;
	margin:0 auto;
}

.answer {
	width:48%;
	margin:0 auto;
}

#NxtBtn {
	right:20px;
}

#BckBtn {
	left:20px;
}

#NxtBtn img{
	vertical-align: middle;
	margin:0;
}

#BckBtn,  #NxtBtn {
	position:absolute;
	top:50%;
	bottom:50%;
	background: none;
	font-size: .75em;
	font-weight: 700;
	width:75px;
	height:35px;
}

#BckBtn img{
	vertical-align: middle;
	margin:0;
}

#review-table {
	width:80%;
	text-align:center;
	margin:0 auto;
}

#review-table th,
#review-table td {
	padding:2px 10px;
	text-align:left;
}

/* Overrides */
.prototype .help-block {
	color:#fff;
}