/*
Blue: #356b8c
Orange: #f05c1a
*/

#header {
	background:url(../img/style4/event-bg.png) bottom center repeat;
}

#company {
	background:#356b8c;
}

#next-btn,
#back-btn {
	color:#f05c1a;
}

#RstBtn {
	background:#356b8c;
}

.reset-btn {
	background:#356b8c;
}

.bubble {
	background: #356b8c;
}

.bubble:after {
	border-color: #356b8c transparent;
}

.q-head {
	color:#356b8c;		
}

.add-one {
	background-color:#f05c1a;
}

.checkmark {
	background-color:#f05c1a;
}

.x-icon {
	background-color:#444;
}

.icon.action,
.icon:hover {
	background-color:#f05c1a;
}

.style4 #buzz-table .icon-btn.selected {
	background-color:#f05c1a;
}

.style4 textarea:focus,
.style4 input[type="text"]:focus,
.style4 input[type="password"]:focus,
.style4 input[type="datetime"]:focus,
.style4 input[type="datetime-local"]:focus,
.style4 input[type="date"]:focus,
.style4 input[type="month"]:focus,
.style4 input[type="time"]:focus,
.style4 input[type="week"]:focus,
.style4 input[type="number"]:focus,
.style4 input[type="email"]:focus,
.style4 input[type="url"]:focus,
.style4 input[type="search"]:focus,
.style4 input[type="tel"]:focus,
.style4 input[type="color"]:focus,
.style4 .uneditable-input:focus { 
	border-color: #356b8c;
}