/*
Blue: #ffa200
Orange: yellow
*/

#header {
	background:url(../img/style3/event-bg.jpg) top center repeat;
}

#company {
	background:#ffa200;
}

#next-btn,
#back-btn {
	color:#ffa200;
}

#RstBtn {
	background:#ffa200;
}

.reset-btn {
	background:#ffa200;
}

.bubble {
	background: #ffa200;
}

.bubble:after {
	border-color: #ffa200 transparent;
}

.q-head {
	color:#ffa200;		
}

.add-one {
	background-color:#ffa200;
}

.checkmark {
	background-color:#ffa200;
}

.x-icon {
	background-color:#ffa200;
}

.icon.action,
.icon:hover {
	background-color:#ffa200;
}

.style3 #buzz-table .icon-btn.selected {
	background-color:#ffa200;
}

.style3 textarea:focus,
.style3 input[type="text"]:focus,
.style3 input[type="password"]:focus,
.style3 input[type="datetime"]:focus,
.style3 input[type="datetime-local"]:focus,
.style3 input[type="date"]:focus,
.style3 input[type="month"]:focus,
.style3 input[type="time"]:focus,
.style3 input[type="week"]:focus,
.style3 input[type="number"]:focus,
.style3 input[type="email"]:focus,
.style3 input[type="url"]:focus,
.style3 input[type="search"]:focus,
.style3 input[type="tel"]:focus,
.style3 input[type="color"]:focus,
.style3 .uneditable-input:focus { 
	border-color: #ffa200;
}