/*
Blue: #e71938
Orange: #fdb823
*/

#header {
	background:url(../img/style5/event-bg.png) bottom center repeat;
}

#company {
	background:#e71938;
}

#next-btn,
#back-btn {
	color:#fdb823;
}

#RstBtn {
	background:#e71938;
}

.reset-btn {
	background:#e71938;
}

.bubble {
	background: #e71938;
}

.bubble:after {
	border-color: #e71938 transparent;
}

.q-head {
	color:#e71938;		
}

.add-one {
	background-color:#fdb823;
}

.checkmark {
	background-color:#fdb823;
}

.x-icon {
	background-color:#444;
}

.icon.action,
.icon:hover {
	background-color:#fdb823;
}

.style5 #buzz-table .icon-btn.selected {
	background-color:#fdb823;
}

.style5 textarea:focus,
.style5 input[type="text"]:focus,
.style5 input[type="password"]:focus,
.style5 input[type="datetime"]:focus,
.style5 input[type="datetime-local"]:focus,
.style5 input[type="date"]:focus,
.style5 input[type="month"]:focus,
.style5 input[type="time"]:focus,
.style5 input[type="week"]:focus,
.style5 input[type="number"]:focus,
.style5 input[type="email"]:focus,
.style5 input[type="url"]:focus,
.style5 input[type="search"]:focus,
.style5 input[type="tel"]:focus,
.style5 input[type="color"]:focus,
.style5 .uneditable-input:focus { 
	border-color: #e71938;
}