/*
Blue: #0274ba
Orange: #eb8a01
*/

#header {
	background:url(../img/style1/event-bg.png) top center repeat;
}

#company {
	background:#0274ba;
}

#next-btn,
#back-btn {
	color:#0274ba;
}

#RstBtn {
	background:#0274ba;
}

.reset-btn {
	background:#0274ba;
}

.bubble {
	background: #0274ba;
}

.bubble:after {
	border-color: #0274ba transparent;
}

.q-head {
	color:#0274ba;		
}

.add-one {
	background-color:#eb8a01;
}

.checkmark {
	background-color:#eb8a01;
}

.x-icon {
	background-color:#444;
}

.icon.action,
.icon:hover {
	background-color:#eb8a01;
}

.style1 #buzz-table .icon-btn.selected {
	background-color:#eb8a01;
}

.style1 textarea:focus,
.style1 input[type="text"]:focus,
.style1 input[type="password"]:focus,
.style1 input[type="datetime"]:focus,
.style1 input[type="datetime-local"]:focus,
.style1 input[type="date"]:focus,
.style1 input[type="month"]:focus,
.style1 input[type="time"]:focus,
.style1 input[type="week"]:focus,
.style1 input[type="number"]:focus,
.style1 input[type="email"]:focus,
.style1 input[type="url"]:focus,
.style1 input[type="search"]:focus,
.style1 input[type="tel"]:focus,
.style1 input[type="color"]:focus,
.style1 .uneditable-input:focus { 
	border-color: #0274ba;
}