<table id="confirmation" cols="12" style="font-family:helvetica, arial, sans-serif; font-size:12px;" cellspacing="0" border="0" align="center">
	<thead>
		<tr>
			<td colspan="10">
				<b>Test Record</b><br>
				555 Fake Street<br>
				Indianapolis, IN 46268
			</td>
			<td colspan="2">
				Expires: 09/29/2013
			</td>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td colspan="12" align="center">
				<img src="http://hades.triauto.net/kiosks-new/img/prize-ticket.png" title="Prize Confirmation" alt="Congratulations!">
			</td>
		</tr>

		<tr>
			<td colspan="12" align="center">
				--- OFFICIAL PRIZE CLAIM CONFIRMATION ---
			</td>
		</tr>

		<tr>
			<td>
				&nbsp;
			</td>
			<td colspan="5">
				Your Claim Number<br>
				<span style="font-size:24px; font-weight:bold;">41275000005</span>
			</td>

			<td colspan="6">
				Your Prize<br>
				<span style="font-size:24px; font-weight:bold;">LOTTERY TICKET</span>
			</td>
		</tr>

		<tr>
			<td colspan="12" align="center">
				--- TRADE-IN INCENTIVE CONFIRMATION ---
			</td>
		</tr>

		<tr>
			<td colspan="2">&nbsp;</td>

			<td colspan="10">
				Vehicle Information<br>
				<span style="font-size:24px; font-weight:bold;">
					2005 Chevrolet Silverado 1500-V8
				</span>
			</td>
		</tr>

		<tr>
			<td colspan="2">
				&nbsp;
			</td>

			<td colspan="10">
				<table cols="12">
					<tr>
						<td colspan="2">
							Book Value:
						</td>

						<td>
							&nbsp;
						</td>

						<td colspan="2">
							<b>$15,950.00</b>
						</td>
						
						<td colspan="2">
							&nbsp;
						</td>
						
						<td colspan="2" align="right">
							Appraisal Offer:
						</td>

						<td>
							&nbsp;
						</td>

						<td colspan="2" align="right">
							$19,140.00
						</td>
					</tr>

					<tr>
						<td colspan="2">
							Trade-In Bonus:
						</td>

						<td align="center">
							+
						</td>

						<td colspan="2">
							<b>$3,190.00</b>
						</td>
						
						<td colspan="7">
							&nbsp;
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
	<tfoot style="background-color:#666; color:#fff;">
		<tr>
			<td colspan="2">
				&nbsp;
			</td>
			<td colspan="8">
				<b>VEHICLE USED FOR "BOOK VALUE" IS FOR EXAMPLE PURPOSES TO DISPLAY 120% OFFER ONLY!</b>
				<ol>
					<li>
						Estimated boodk value is based on 2005 CHEVROLET SILVERADO 1500-V8 CREW CAB 4WD
					</li>
					<li>
						Esitmated book value is based on 12,000 annual miles and in clean condition.
					</li>
					<li>
						Your actual vehicle will be appraised for your book value based on your model, mileage, options, and vehicle condition.
					</li>
					<li>
						120% offer will be applied to your actual book value
					</li>
				</ol>
			</td>
			<td colspan="2">
				&nbsp;
			</td>
		</tr>
	</tfoot>
</table>