html, body {
	height	: 100%;
	padding	: 0;
	margin	: 0;
}
body {
/* 	background	: left bottom fixed #798FC2 url('/_img/background.png') no-repeat;  */
	background	: none;	
/* 	min-height	: 600px; */
}
body * {
	font-family	: Arial, Geneva, SunSans-Regular, sans-serif;
	font-size	: 14px;
}

/*! GAME WRAPPER ///////////////////////////////////////////////////////////////////////// */
	#game_wrapper {
/* 		width		: 600px; */
		width		: auto;
		height		: 100%;
		margin		: 0 auto;
		position	: absolute;
 		top			: 0px;
		left		: 20%;
		z-index		: 3;
	}
	

	/*! DETAILS WRAPPER ///////////////////////////////////////////////////////////////////////// */	
		#details_wrapper {
			background-color: none;
			width			: 361px;
			height			: auto;
			vertical-align	: top !important;
			margin-top		: 110px;
			margin-right	: 0;
			padding 		: 0;
			position		: relative;
			z-index			: 10;
		} 


		/*! DETAILS GREY AREA ///////////////////////////////////////////////////////////////////////// */		
			#details_grey_wrapper {
				width			: auto;
				height			: auto;
				margin  		: 0;
				padding 	  	: 0;
				position		: relative;
				z-index			: 12;
				background-color: none;
			}
				#details_top {
				 	background		: url('/spin2win/_img/details-top.png') left no-repeat;
					width			: 361px;
					height			: 75px;
					margin  		: 0;
					padding			: 0;
					position		: relative;
					z-index			: 13;
				}
				#details_logo {
					padding  		: 0 0 0 66px;
					margin  		: 0;
					position		: relative;
					z-index			: 13;
				}
				#details_middle {
					background		: #EDEDED;
					width			: 307px;
					margin  		: 0 0 0 15px;
					padding  		: 0;
					position		: relative;
					z-index			: 13;
				}
				#details_bottom {
					background		: url('/spin2win/_img/details-bottom.png') bottom no-repeat;
					width			: 331px;
					height			: 64px;
					position		: relative;
					z-index			: 13;
				}
				
				#details_rtside_wrapper {
					margin-left		: -30px;
					position		: relative;
					z-index			: 14;
				}
					#details_right_slant {
						background		: #DBDBDB;
						width			: 30px;
						height			: 204px;
						padding 		: 0;
					}
					#details_rtside {
						background		: #CDCDCD;
						margin-left		: 0;
						width			: 10px;
						height			: 204px;
					}
					/*
					.details_bottom_right_slant {
						width			: 0; 
						height			: 0;
						margin-top		: 182px;
						margin-left		: -30px;
						border-top  	: 50px solid #DBDBDB;
						border-bottom	: 30px solid transparent;
						border-right	: 30px solid transparent;
						z-index			: 12;
					}
					*/

		/*! DETAILS TEXT AREA ///////////////////////////////////////////////////////////////////////// */
			#details_text_wrapper {
				background-color: none;
				width			: 371px;
				height			: auto;
				padding 		: 0;
				margin-top		: -90px;
				position		: relative;
				z-index			: 36;
			}			
				#details_text {
					background		: #995754;
					width			: 270px;
					margin-left		: -10px;
					height			: 78px;
					padding 		: 14px 30px 14px 20px;
				}
				.feedback_big {
					font-family		: sans-serif;
					font-size		: 2.0em;
					line-height		: normal;
					color			: #FFF;
				}
				.feedback_small {
					font-family		: sans-serif;
					font-size		: 1.0em;
					line-height		: 1.4em;
					color			: #FFF;
					margin-top		: 10px; 
				}				
				#details_text_edge_wrapper {
					width			: 18px;
					height			: 100px;
					padding 		: 0;
				}
				#details_text_edge_middle {
					background		: #B36662;
					width			: 100%;
					height			: 70px;
				}
				.top_edge_slant {
					width			: 0;
					height			: 0;
					margin-top		: -18px;
					border-top  	: 18px solid transparent;
					border-bottom	: 18px solid #B36662;
					border-right	: 18px solid transparent;
				}
				.bottom_edge_slant {
					width			: 0; 
					height			: 0;
					border-top		: 18px solid #B36662;
					border-bottom	: 18px solid transparent;
					border-right	: 18px solid transparent;
				}
				.pointer_right {
					width			: 0; 
					height			: 0;
 					margin-top		: 27px;
					border-top		: 26px solid transparent;
					border-bottom	: 26px solid transparent;	
					border-left 	: 26px solid #995754;
				}


		/*! BLUE SPIN BUTTON ///////////////////////////////////////////////////////////////////////// */
			#spin_btn_div {
				margin-top		: -70px;
				margin-right	: 80px;
				position		: relative;
				z-index			: 30;
			}
				#spin_btn {
					width			: 139px;
					height			: 41px;
					padding 		: 0 0 0 40px;
/* 					padding 		: 0 20px 0 30px; */
/* 					background-color: #3F678C;  */
					background 		: url('/spin2win/_img/standard_state_btn.png') right no-repeat;
					cursor			: pointer;
					border  		: none;
					margin  		: 0;
					color			: #FFF;
					font-size		: 1.2em;
					font-family		: sans-serif;
					text-decoration	: none;
				}
				.btn_slant {
					width				: 0; 
					height				: 0; 
					border-bottom		: 42px solid transparent;
					border-right		: 42px solid #3F678C;
				}
				
				
		/* SPIN COUNT BADGE ///////////////////////////////////////////////////////////////////////// */
			#counter_badge {
				width		: auto;
				height		: auto;
				margin-top	: -70px;
				margin-left : 70px;
				position	: relative;
				z-index		: 30;
			}
				#counter_badge_background {
					min-width				: 26px;
/* 					border	 				: 26px solid #FFF; */
					border-top				: 9px solid #FFF;
					border-right			: 12px solid #FFF;
					border-bottom			: 9px solid #FFF;
					border-left				: 12px solid #FFF;
					border-radius			: 99px;
					-moz-border-radius  	: 99px;
					-webkit-border-radius	: 99px;
					background-color		: #FFF;	
					-webkit-box-shadow		: 0px 2px 6px #333; /* Saf3-4 */
					-moz-box-shadow			: 0px 2px 6px #333; /* FF3.5 - 3.6 */
					box-shadow				: 0px 2px 6px #333; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
					display					: inline-block;
					position				: relative;
					z-index					: 31;
/*
					background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FFF)); /* Saf4+, Chrome * /
					background-image: -webkit-linear-gradient(top, #FFF, #FFF); /* Chrome 10+, Saf5.1+, iOS 5+ * /
					background-image: -moz-linear-gradient(top, #FFF, #FFF); /* FF3.6 * /
					background-image: -ms-linear-gradient(top, #FFF, #FFF); /* IE10 * /
					background-image: -o-linear-gradient(top, #FFF, #FFF); /* Opera 11.10+ * /
					background-image: linear-gradient(top, #FFF, #FFF);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFF', EndColorStr='#FFF');
*/
				}
				#counter_wrapper {
					width	: 100%;
				}
					.counter_number {
						width		: 100%;
						color		: #3F678C;
						font-family	: arial;
						font-size	: 1.6em;
						margin		: 0 auto;
					}
					.tiny{
						width		: 100%;
						color		: #3F678C;
						font-family	: arial;
						font-size	: 1.0em;
						margin  	: -2px auto 0 auto;
					}
   
   	
	/*! CAROUSEL WRAPPER ///////////////////////////////////////////////////////////////////////// */
		#carousel_wrapper {
			background-color: #CDCDCD;
			border-left 	: 1px solid #CDCDCD;
			border-right	: 1px solid #CDCDCD;
			height			: 100%;
			width			: auto;
			margin  		: 0 0 0 -30px;
			padding 		: 0 7px;
			vertical-align	: top !important;
			overflow 	 	: hidden;
			position		: relative;
			z-index			: 25px;
		}
			#carousel_wrapper h3 {
				font-size			: 20px;
			}
			.carousel_shadow {
	 			height				: 98%;
				-webkit-box-shadow	: 0px 0px 12px 6px #333;	        
		        box-shadow			: 0px 0px 12px 6px #333;
			}
			#carousel {
				height				: 100%;
				background-color	: #D9D9D9;
				margin	 			: 10px 0;
			}
			.prize_img {
				display				: block;
				width				: 171px;
				height				: 122px;
				margin  			: 6px;
				border  			: 4px double #D9D9D9;
				background  		: #FFF;
			}
			.win_border {
				border  			: 4px solid #995754;
			}


	/*! LEGEND WRAPPER ///////////////////////////////////////////////////////////////////////// */
		#legend_wrapper {
			background-color: none;
			height			: 100%;
			width			: auto;
			margin-top		: 0;
			margin-right	: 0;
			padding 		: 0;
			position		: relative;
			z-index			: 5;
		}
			#spacer_bar {
				width			: 30px;
				height			: 100%;
				background		: #292929;
				vertical-align	: middle;
				color			: #CBCBCB;
			}
			
			#legend_right {
				width		: 230px;
				height		: 100%;
				background	: #232323;
			}
				#top_legend {
					width		: 100%;
/* 					height		: 40px; */
					font-size	: 1.2em;
					color		: #B3B3B3;
					padding 	: 20px 0;
					background	: #1D1D1D;
				}

			#pointer_wrapper {
				width		: 100%;
			}
				.pointer_down {
					width			: 0; 
					height			: 0;
					margin-right	: 14px;
					border-right	: 16px solid transparent;
					border-top  	: 16px solid #1D1D1D;
					border-left 	: 16px solid transparent;
				}

			#legend_text {
				width			: 100%;
				padding 		: 30px 9px 0 9px;
				color			: #B3B3B3;
				font-size		: 1.3em;
			}
				.legend_list li {
					padding 			: 14px 0;
					list-style-type		: none;
					list-style-position	: inside;
				}