/*
Primary: #e71938
Secondary: #fdb823
*/

/*! GAME WRAPPER ///////////////////////////////////////////////////////////////////////// */
	#game_wrapper {
		width		: 100%;
/* 		width		: auto; */
		height		: 100%;
		margin		: 0 auto;
		position	: absolute;
 		top			: 0;
		left		: 0;
		z-index		: 3;
	}
	

	/*! DETAILS WRAPPER ///////////////////////////////////////////////////////////////////////// */	
		#details_wrapper {
			background		: none;
			width			: 500px;
			height			: 100%;
			margin-top		: 0;
			margin-right	: 0;
			padding 		: 0;
			position		: relative;
			z-index			: 10;
		} 


		/*! DETAILS GREY AREA ///////////////////////////////////////////////////////////////////////// */		
			#details_logo {
				width			: 100%;
				height			: 80px;
				padding 		: 30px 0;
				margin  		: 0 auto;
				text-align		: center;
				position		: relative;
				z-index			: 13;
			}

		/*! DETAILS TEXT AREA ///////////////////////////////////////////////////////////////////////// */
			#details_text_wrapper {
				background		: none;
				width			: 100%;
				height			: auto;
				padding 		: 0;
 				margin  		: 0 auto;
				position		: relative;
				z-index			: 26;
			}			
				#details_text {
					width			: 100%;
					margin  		: 0 auto;
 					height			: auto;
 					padding 		: 40px 20px 14px 20px;
				}
				.feedback_big {					
					font-size		: 2.25em;
				    font-weight		: 800;
				    text-transform	: uppercase;
				}
				.feedback_small {
					margin-top		: 14px; 
					font-family		: sans-serif;
					font-size		: 1.4em;
				}

	/*! POINTER SPACER ///////////////////////////////////////////////////////////////////////// */
		#point_wrapper {
			width			: auto;
			height			: 100%;
			margin	 		: 0;
			margin-left		: 19px;
			padding	 		: 0;
			position		: relative;
			z-index			: 36;			
		} 
				
			.pointer_spacer {
				width			: 30px;
				height			: 100%;
			}
			.pointer_right {
				width			: 0; 
				height			: 0;
 				margin-top		: 190px;
				border-top		: 26px solid transparent;
				border-bottom	: 26px solid transparent;	
				border-left 	: 26px solid;
			}

			
	/*! SPIN COUNT & BUTTON ///////////////////////////////////////////////////////////////////////// */
		#spin_feedback_wrapper {
			width			: 100%;
			height			: auto;
			margin	 		: 14px auto 0 auto;
			padding	 		: 0;
			position		: relative;
			z-index			: 26;			
		}
		
		/*! BLUE SPIN BUTTON ///////////////////////////////////////////////////////////////////////// */
			#spin_feedback_background {
				width		: auto;
				height		: auto;
				background	: #CCC;
			}
					
		/*! BLUE SPIN BUTTON ///////////////////////////////////////////////////////////////////////// */
			#spin_btn_div {
			
			}
			
				#spin_btn {
					padding 		: 12px 50px;
					cursor			: pointer;
					border  		: none;
					margin  		: 0;
					color			: #FFF;
					font-size		: 1.2em;
					font-family		: sans-serif;
					text-align		: center;
					text-decoration	: none;
				}
				
				
		/* SPIN COUNT BADGE ///////////////////////////////////////////////////////////////////////// */
			#spin_counter_wrapper {
				width		: auto;
			}
				.counter_number {
					width		: auto;
					height		: auto;
					margin  	: 8px 20px;
 					padding 	: 4px 20px; 
					background	: #FFF; 
/* 					color		: #995754; */
					font-family	: arial;
					font-size	: 1.6em;
					font-weight	: bold;
				}
				.remaining_spins {
					width		: auto;
					height		: auto;
					margin  	: 8px 10px;
 					padding 	: 4px 12px 4px 0;
					color		: #FFF;
					font-family	: arial;
					font-size	: 1.0em;
					font-weight	: bold;
				}
   	
	/*! CAROUSEL WRAPPER ///////////////////////////////////////////////////////////////////////// */
		#carousel_wrapper {
			background  	: #CDCDCD;
			border-left 	: 1px solid #CDCDCD;
			border-right	: 1px solid #CDCDCD;
			height			: 100%;
			width			: 191px;
			margin  		: 0 0 0 -26px;
			padding 		: 0 7px;
			top				: 0;
			overflow 	 	: hidden;
			position		: relative;
			z-index			: 25;
		}
			#carousel_wrapper h3 {
				font-size			: 20px;
			}
			.carousel_shadow {
	 			height				: 98%;
				-webkit-box-shadow	: 0px 0px 12px 6px #333;	        
		        box-shadow			: 0px 0px 12px 6px #333;
			}
			#carousel {
				width				: 191px !important;
				height				: 100%;
				background			: #D9D9D9;
				margin	 			: 10px 0;
			}
			.prize_img {
				display				: block;
				width				: 171px;
				height				: 122px;
				margin  			: 6px;
				border  			: 4px double #D9D9D9;
				background  		: #FFF;
			}
			.win_border {
				/* style4: #995754 | style5: #fdb823 */
				border  			: 4px solid #fdb823;
			}


	/*! LEGEND WRAPPER ///////////////////////////////////////////////////////////////////////// */
		#legend_wrapper {
			background	 	: none;
			height			: 100%;
			width			: 300px;
			margin-top		: 0;
			margin-right	: 0;
			padding 		: 0;
			position		: relative;
			z-index			: 5;
		}			
			#legend_right {
				height		: 100%;
				background	: #232323;
			}
				#top_legend {
					width		: 100%;
					font-size	: 1.2em;
					color		: #B3B3B3;
					padding 	: 20px 0;
					background	: #1D1D1D;
				}

			#pointer_wrapper {
				width		: 100%;
			}
				.pointer_down {
					width			: 0; 
					height			: 0;
					margin-right	: 24px;
					border-right	: 26px solid transparent;
					border-top  	: 26px solid #1D1D1D;
					border-left 	: 26px solid transparent;
				}

			#legend_text {
				width			: 100%;
				padding 		: 0 40px 0 40px;
				color			: #B3B3B3;
				font-size		: 1.1em;
			}
				.legend_list li {
					padding 			: 6px 0;
					list-style-type		: none;
					list-style-position	: inside;
				}